@import '../../assets/styles/partials/fonts';
@import '../../assets/styles/partials/variables';
@import '../../assets/styles/partials/functions';
@import '../../assets/styles/partials/mixins';

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: {
        family: $font-sans;
        size: font-size('md');
    }
    text-rendering: optimizeLegibility;
}
