@import 'variables';
@import 'functions';
@import 'mixins';

.auth {
    @include page;
    background-color: color(default, background);
    display: flex;
    justify-content: center;
}

.auth__container {
    @include flex-column;
    @include respond-to(sm) {
        margin-top: 6rem;
        padding: 0;
        width: 25rem;
    }
    height: fit-content;
    margin-top: 3rem;
    padding: {
        left: 2rem;
        right: 2rem;
    }
    width: 100%;
}

.auth__header {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.auth__info {
    color: color(default, font, secondary);
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.auth__form {
    @include flex-column;
}

.auth__button {
    @include button;
    background-color: color(default, button);
    border: {
        radius: $border-radius;
        width: 0;
    }
    color: color(default, button, font);
    font: {
        size: 0.8rem;
        weight: 600;
    }
    height: 2.5rem;
    padding: {
        bottom: 0;
        left: 1rem;
        right: 0;
        top: 0.25rem;
    }
    text-align: left;
    transition: {
        duration: $transition-duration;
        property: background-color;
    }

    &:disabled {
        background-color: color(default, button, disabled);
        cursor: default;
    }

    &:hover:not(:disabled) {
        background-color: color(default, button, active);
    }
}

.auth__subtext {
    color: color(default, font, label);
    font: {
        family: $font-sans-serif;
        size: 0.7rem;
    }
    margin-top: 0.5rem;

    a {
        color: color(default, font, label);
    }
}

.auth__error {
    color: color(default, font, error);
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
