@import './partials/variables';
@import './partials/functions';
@import './partials/mixins';

.form {
    margin: {
        bottom: 3rem;
        right: 3rem;
    }
    width: 100%;

    &:last-child {
        margin-right: 0;
    }
}

.form__message {
    margin-bottom: 1rem;
    font-size: 0.8rem;

    &.error {
        color: color(default, font, error);
    }

    &.success {
        color: color(default, font, success);
    }
}

.form__header {
    font: {
        size: 1.5rem;
        weight: 600;
    }
    margin-bottom: 1.5rem;
}

.form__container {
    @include flex-column;
}

.form__button {
    @include button;
    background-color: color(default, button, secondary);
    border: {
        radius: $border-radius;
        width: 0;
    }
    color: color(default, button, font);
    font: {
        size: 0.8rem;
        weight: 600;
    }
    height: 2.5rem;
    padding: {
        bottom: 0;
        left: 2rem;
        right: 2rem;
        top: 0.25rem;
    }
    transition: {
        duration: $transition-duration;
        property: background-color;
    }
    width: fit-content;

    &:disabled {
        background-color: color(default, button, disabled);
        cursor: default;
    }

    &:hover:not(:disabled) {
        background-color: color(default, button);
    }
}

.form__error {
    color: color(default, font, error);
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
