@mixin button() {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

@mixin flex-center() {
  align-items: center;
  justify-content: center;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin page() {
    min-height: 100vh;
    min-width: 100vw;
}

@mixin respond-to($media) {
  @if $media == sm {
    @media screen and (min-width: 600px) { @content; }
  }
}
