$border-radius: 2px;
$font-sans-serif: Vaud, sans-serif;
$font-size-root: 18px;
$navbar-height: 3.3rem;
$navbar-width: 14rem;

$black: #111;
$gray: #cacaca;
$green: #22d09c;
$red: #f44e66;
$white: #fff;
$themes: (
    default: (
        background: (
            base: $white,
            secondary: #f9fafc,
            primary: $green,
        ),
        border: (
            base: $gray,
            active: $green,
            error: $red,
        ),
        button: (
            base: $black,
            active: $green,
            disabled: $gray,
            font: $white,
        ),
        font: (
            base: $black,
            primary: $green,
            error: $red,
            secondary: #404040,
            copy: lighten(#404040, 15),
            placeholder: #9b9b9b,
            white: $white,
        ),
        icon: (
            base: darken($gray, 20),
            primary: $green,
        ),
    ),
);

$transition-duration: .25s;
